<html>
<head>
<style>

body {
    
    background-image: url("https://cdn.vectorstock.com/i/1000x1000/49/46/224946.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 200px;
    background-attachment: fixed;
}


</style>
</head>

<h1>Details of Movie</h1>

<body>
<p>
  <strong>Title:</strong>
  <%= @Title %>
</p>

<p>
  <strong>Overview:</strong>
  <%=  @overview %>
</p>

<p>
<p>
  <strong>Status:</strong>
  <%=  @status %>
</p>


</body>
</html>

